body {
    text-align: center;
}



div {
    border: 1px solid #000000;
    width: auto;
    background-color:antiquewhite;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

#albuminformation{
    width: 25%;
    text-align: center;
    padding: 20px;
    text-align: center;
    
}
