.table{
    display: block;
    width: auto;
   
   
    border-radius: 20px;
    padding-left: 45%;
    border-collapse: collapse;
    text-align: center;


   
  

}

th{
    box-shadow: 10px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    font-size: 175%;
    width: auto;
    padding: 1em;
    color: rgb(228, 193, 245);
}

td{
    box-shadow: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 150%;
    width: auto;
    color: rgb(0, 0, 0);
}

